<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/metro/css/metro.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/metro/css/metro-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/metro/css/metro-responsive.css")" />

    <script src="@Url.Content("~/Scripts/jquery-3.1.0.min.js")"></script>
    <script src="@Url.Content("~/Content/metro/js/metro.js ")"></script>

    @*<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/semantic/dist/semantic.min.css")">
    <script src="@Url.Content("~/Content/semantic/dist/semantic.min.js")"></script>*@
    <style type="text/css">
        html,body {
            font-family:Microsoft YaHei,Helvetica,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
            height:100%;
        }
        button {
            font-family:Microsoft YaHei,Helvetica,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
        }
         .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="bg-steel">
    <!--main start -->
    <div  id="top_main" class="app-bar fixed-top darcula" data-role="appbar">
        <a class="app-bar-element branding">人力资源管理</a>
        <span class="app-bar-divider"></span>
        <div class="app-bar-element place-right active-container">
            <span class="dropdown-toggle"><span class="mif-cog"></span> YU</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px; display: none;">
                <h2 class="text-light">配置</h2>
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">基本信息</a></li>
                    <li><a href="" class="fg-white2 fg-hover-yellow">安全设置</a></li>
                    <li><a href="@Url.Action("Login","Home")" class="fg-white3 fg-hover-yellow">退出</a></li>
                </ul>
            </div>
        </div>
        <div class="app-bar-pullbutton automatic" style="display: none;"></div>
        <div class="clearfix" style="width: 0;"></div>
        <nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;">
        <ul class="app-bar-pullmenubar app-bar-menu hidden" style="display: none;"></ul>
        </nav>
    </div>

    <div id="centet_main" class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                    <ul class="sidebar">
                        <li>
                            <a href="#">
                                <span class="mif-apps icon"></span>
                                <span class="title">任务计划</span>
                                <span class="counter">0</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <span class="mif-apps icon"></span>
                                <span class="title">客户管理</span>
                                <span class="counter">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cell auto-size padding20 bg-white" id="cell-content">
                    <h1 class="text-light"> 首页 <span class="mif-drive-eta place-right"></span></h1>
                    <hr class="thin bg-grayLighter">
                    <button class="button primary" onclick="pushMessage('info')"><span class="mif-plus"></span> 添加简历 </button>
                    <button class="button success" onclick="pushMessage('success')"><span class="mif-play"></span> 添加客户 </button>
                    <button class="button warning" onclick="pushMessage('warning')"><span class="mif-loop2"></span> 项目查看 </button>
                    <button class="button alert" onclick="pushMessage('alert')"> 数据报表 </button>
                    <div>@RenderBody()</div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div><table class="dataTable border bordered no-footer" data-role="datatable" data-auto-width="false" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row">
                                    <td style="width: 20px" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                        activate to sort column descending"></td>
                                    <td class="sortable-column sort-asc sorting" style="width: 100px" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending">用户ID</td>
                                    <td class="sortable-column sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Machine name: activate to sort column ascending">负责人</td>
                                    <td class="sortable-column sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending">联系地址</td>
                                    <td class="sortable-column sorting" style="width: 20px" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">状态</td>
                                    <td style="width: 20px" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Switch: activate to sort column ascending">付款状态</td>
                                </tr>
                            </thead>
                            <tbody>


                                <tr role="row" class="odd">
                                    <td class="sorting_1">
                                        <label class="input-control checkbox small-check no-margin">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                        </label>
                                    </td>
                                    <td>123890723212</td>
                                    <td>yua</td>
                                    <td><a href="#"></a></td>
                                    <td class="align-center"><span class="mif-checkmark fg-green"></span></td>
                                    <td>
                                        <label class="switch-original">
                                            <input type="checkbox" checked="">
                                            <span class="check"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                    <td class="sorting_1">
                                        <label class="input-control checkbox small-check no-margin">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                        </label>
                                    </td>
                                    <td>123890723212</td>
                                    <td>hec</td>
                                    <td><a href="#"></a></td>
                                    <td class="align-center"><span class="mif-stop fg-red"></span></td>
                                    <td>
                                        <label class="switch-original">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">当前 2/2 条记录</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一条</a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一条</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--main end -->
    <!--footerMain start -->
    <div id="footer" >
    </div>
    <!--footerMain end -->

</body>
</html>