<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/metro/css/metro.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/metro/css/metro-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/metro/css/metro-responsive.css")" />

    <script src="@Url.Content("~/Scripts/jquery-3.1.0.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>*@
    <script src="@Url.Content("~/Content/metro/js/metro.js ")"></script>

    @*<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/semantic/dist/semantic.min.css")">
    <script src="@Url.Content("~/Content/semantic/dist/semantic.min.js")"></script>*@
    <style type="text/css">
        body {
            font-family:Microsoft YaHei,Helvetica,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
        }
        button {
            font-family:Microsoft YaHei,Helvetica,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>